body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    font-weight: 900;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 80px 240px 130px 200px;
}

.herotext {
    width: 50%;
    flex-shrink: 0;
    padding-right: 40px;
}

.heromain {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero2 {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 12px;
}

.blue {
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding: 8px 32px;
    font-weight: 900;
}

.heroimage {
    width: 50%;
    flex-shrink: 0;
    max-width: 800px;
}

.heroimage img {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
}

.infosection {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.infosection2 {
    display: flex;  
    justify-content: center;
    gap: 50px;
    margin: 60px 0 110px 0;
    text-align: center;
}

.images img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    border: 4px solid #3882F6;
}

.text {
    color: #1F2937;
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 110px 0 90px 0;
}

.quotecontainer {
    width: 800px;
}

.statement {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.signature {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 90px 200px;
    padding: 50px;
    border-radius: 8px;
    gap: 180px;
}

.actioncontainer {
    display: flex;
    flex-direction: column;
}

.actiontext {
    font-size: 26px;
    font-weight: 900;
}

.clear {
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    padding: 6px 32px;    
    font-weight: 300;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #1F2937;
    color:#F9FAF8;
}